# This runs jobs which pyiron modules should run on pushes or PRs to main

name: Push-Pull

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pyiron:
    uses: pyiron/actions/.github/workflows/push-pull.yml@actions-4.0.12
    secrets: inherit
    with:
      notebooks-env-files: .ci_support/environment.yml .ci_support/environment-widget.yml
      tests-env-files: .ci_support/environment.yml .ci_support/environment-widget.yml .ci_support/environment-dev.yml
      alternate-tests-env-files: .ci_support/lower_bound.yml
      alternate-tests-dir: tests/unit
      alternate-tests-python-version: '3.11'
      extra-python-paths: tests
      python-version-alt1: '3.11'
      python-version-alt2: '3.12'
      python-version: '3.13'
      python-version-alt3: '3.14'
      do-codecov: true
      do-codacy: false
      do-coveralls: false
      do-mypy: true
      coverage-test-dir: tests/unit tests/integration
      do-benchmark-tests: ${{ github.event_name == 'pull_request' }}